body{
    padding-bottom: 0px;
    position:relative;
}

#features{
    margin-top: 45px;
    margin-left: 45px;
}

#features li:first-child{
    margin-top: 35px;
}

#features li{
   margin:0 0 15px 0;   
}

#main-content{
    height: auto;
}

#wrapper{
    height:100vh;
}

/* Carousel properties */
.carousel{
    margin: 0 auto;
    height: auto;
    width: 100%;
    min-width: 300px;
}

/* Size of the carousel */
.carousel-inner,
.carousel .item,
.slider-size > img{
    height: auto;
    width: 100%;
}

.carousel-indicators{
    bottom: 0px;
}