p{
    font-size: medium;
}

#text-content{
    margin-left: 50px;
    height: 100%;
}

td i{
    padding-right: 10px;
}

table {
    margin-top: 40px;
    margin-left: 50px;
}

td{
    padding-bottom: 8px;
}

@media (max-width: 650px)
{
    table {
        margin-left: 15px;
    }

    #text-content{
        margin-left: 20px;
    }
}