p{
    font-size: medium;
}

#text-content{
    margin-left: 50px;
}

#main-content{
    height: 100%;
}

td i{
    padding-right: 10px;
}

td{
    padding-bottom: 8px;
}

table{
    margin-top: 45px;
}

@media (max-width: 650px)
{
    #text-content{
        margin-left: 20px;
    }
}

@media (min-height: 320px)
{
    body{
        overflow-y:hidden;
    }
}